---
import { getFooter, getSiteSettings } from "../lib/cms";

const footer = await getFooter();
const siteSettings = await getSiteSettings();
---

<footer class="foot">
  <div class="wrap">
    <div class="foot-grid">
      <div>
        <div class="brand-lg">
          <img
            src="/assets/logo/logo.svg"
            alt={siteSettings.brand}
            width="3188"
            height="2298"
          />
        </div>
        {footer.text && (
          <p class="foot-col" style="margin-top: 1.2rem; max-width: 34ch">
            {footer.text}
          </p>
        )}
      </div>
      {
        footer.columns.map((column: any) => (
          <div class="foot-col">
            {column.heading && <h4>{column.heading}</h4>}
            {column.links.map((item: any) => (
              <a href={item.href}>{item.label}</a>
            ))}
            {column.addressHtml && <p set:html={column.addressHtml} />}
          </div>
        ))
      }
    </div>
    <div class="foot-bottom">
      {footer.bottomLeft && <span>&copy; {footer.bottomLeft}</span>}
      {footer.bottomRight && <span>{footer.bottomRight}</span>}
    </div>
  </div>
</footer>
